# Generated directories
assets/css
assets/js
# Logs
npm-debug.log*

# Dependency directories
node_modules

# Optional REPL history
.idea

# Coverage directory for istanbul
coverage

# Database config
src/server/database.config.js