<!DOCTYPE html>
<html lang="en">
<head>
    <title>New entry</title>
    <link href="../assets/css/newEntry.css" rel="stylesheet"/>
</head>
<body>


<header class="header">
    <h1>
        {{{data}}}
    </h1>
</header>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2">
                <div class="header__shadow"></div>
                <main>

                    <section>
                        Add new entry
                    </section>

                </main>
            </div>
        </div>
    </div>
</div>

</body>
</html>
