html {
  font-size: 62.5%;
}

body {
  font-family: $font--base-font;
  background: $colour--light-grey;
}

main {
  margin-top: 5rem;
  padding-top: 15px;
}

a {
  color: $colour--dark-grey;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.card-area {
  background: $colour--white;
  padding: 2rem;

  .entry-title {
    color: $colour--dark-grey;
  }
}
