.header {
  color: $colour--white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &__content {
    background: $colour--primary;
    padding: 1rem;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }
}

.header__shadow {
  // sass-lint:disable-all
  background: -webkit-linear-gradient($colour--transparent-grey, $colour--transparent-white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($colour--transparent-grey, $colour--transparent-white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($colour--transparent-grey, $colour--transparent-white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($colour--transparent-grey, $colour--transparent-white); /* Standard syntax */
  // sass-lint:enable-all
  height: 10px;
}
