// Colours
$colour--general-font: #000;
$colour--highlight: #f9ec88;
$colour--highlight-light: #fdf8d2;
$colour--dark-grey: #333;
$colour--white: #fff;

// Shadow colours
$colour--transparent-white: rgba(255, 255, 255, .01);
$colour--transparent-grey: rgba(0, 0, 0, .1);

//Fonts
$font--base-font: Roboto, Arial, sans-serif;
