// Main colours
$colour--primary: #2196F3;
$colour--secondary: #64B5F6;
$colour--accent: #FF4081;
$colour--accent-light: #FF80AB;
$colour--dark-grey: #333;
$colour--medium-grey: #797979;
$colour--light-grey: #E3E3E3;
$colour--white: #fff;

// Shadow colours
$colour--transparent-white: rgba(255, 255, 255, .01);
$colour--transparent-grey: rgba(0, 0, 0, .1);

//Fonts
$font--base-font: Roboto, Arial, sans-serif;
